/*Minimize css*/
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/*Header style*/
.nav-wrapper {
	height: 160px!important;
	background-color: #ff7a28;
}

.nav-wrapper ul a {
	color: black;
	margin-top: 40px;
	font-size: 20px;
}

.nav-wrapper img {
	margin: 30px 20px 20px 50px;
}

/*Footer style*/
footer {background-color: #ff7a28!important;}

footer ul {
	display: flex;
	align-items: baseline;
}

footer ul li {padding: 5px;}

/*Main page*/
.main-quote {
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
}

.carousel .carousel-item {
	margin-top: -70px !important;
	width:500px !important;
}

.description {
	margin-left: 30px;
	margin-right: 30px;
}

h2, h3 {    
	color: #EFA00B;
}


